{% macro function_args_definition(args) %}{% for arg in args %}{{ arg.name }}: {{ arg.mapped_type }}{{ "," if not loop.last }}{% endfor %}{% endmacro %}
{% macro function_named_args_call(args) %}{% for arg in args %}{{ arg.name }}: {{ arg.name }}{{ "," if not loop.last }}{% endfor %}{% endmacro %}
{% macro wrapped_return(method, static) %}let val = {{ 'wrappedClass' if static else 'wrappedInstance' }}.{{method.name}}({{ function_named_args_call(method.args) }})
{% if method.return_type and method.mapped_return_type.endswith('?') %}
        if val == Python.None { return nil } else { return {{ method.mapped_return_type.replace('?', '') }}(val) }
{% elif method.return_type %}
        return {{ method.mapped_return_type }}(val)
{% endif %}
{% endmacro %}
import PythonKit

class {{ swift_object_name }} {
    static let wrappedClass = Python.import("{{ module }}").{{object_name}}
    let wrappedInstance: PythonObject

    {% for static_var in static_vars %}
    static var {{ static_var.name }}: {{ static_var.mapped_type }} { return {{ static_var.mapped_type }}(wrappedClass.{{ static_var.name }}) }
    {% endfor %}
    {% for instance_var in instance_vars %}
    var {{ instance_var.name }}: {{ instance_var.mapped_type }} { return {{ instance_var.mapped_type }}(wrappedInstance.{{ instance_var.name }}) }
    {% endfor %}

    // TODO: Add default values
    init({{ function_args_definition(init_params) }}) {
        self.wrappedInstance = {{ swift_object_name }}.wrappedClass({{ function_named_args_call(init_params) }})
    }

    // TODO: Add classmethods
    {% for instance_method in instance_methods %}
    func {{ instance_method.name }}({{ function_args_definition(instance_method.args) }}) {% if instance_method.return_type %}-> {{ instance_method.mapped_return_type }} {% endif %}{
        {{ wrapped_return(instance_method, false) }}
    }
    {% endfor %}

    {% for static_method in static_methods %}
    static func {{ static_method.name }}({{ function_args_definition(static_method.args) }}) {% if static_method.return_type %}-> {{ static_method.mapped_return_type }} {% endif %}{
        {{ wrapped_return(static_method, true) }}
    }
    {% endfor %}
}
