{% for bmm in magic_methods.binary_magic_methods %}
extension {{ swift_object_name }}{% if bmm.swift_protocol_name %}: {{ bmm.swift_protocol_name }}{% endif %} {
    {% for rhs_type, return_type in bmm.right_classes %}
    public static func {{ bmm.symbol }}(lhs: {{ swift_object_name }}, rhs: {{ rhs_type | convert_to_swift_type }}) -> {{ return_type | convert_to_swift_type }} {
        return  {{ return_type | convert_to_swift_type }}(self.wrappedClass[dynamicMember: "{{ bmm.python_magic_method }}"](lhs.wrappedInstance, rhs.wrappedInstance)){{ return_type|force_unwrap }}
    }
    {% endfor %}
}

{% endfor %}
{% for umm in magic_methods.unary_magic_methods %}
extension {{ swift_object_name }}{% if umm.swift_protocol_name %}: {{ umm.swift_protocol_name }}{% endif %} {
    public static prefix func {{ umm.symbol }}(x: {{ swift_object_name }}) -> {{ swift_object_name }} {
        return  {{ swift_object_name }}(self.wrappedClass[dynamicMember: "{{ umm.python_magic_method }}"](x.wrappedInstance))
    }
}

{% endfor %}
{% if magic_methods.len__ %}
extension {{ swift_object_name }} {
    var size: Int { return Int({{ swift_object_name }}.wrappedClass[dynamicMember: "len"](self.wrappedInstance))! }
}

{% endif %}
{% if magic_methods.getitem__ %}
extension {{ swift_object_name }} {
    subscript(index: {{ magic_methods.getitem__.index_type | convert_to_swift_type }}) -> {{ magic_methods.getitem__.return_type | convert_to_swift_type }} {
        get {
            return {{ magic_methods.getitem__.return_type | convert_to_swift_type }}(wrappedInstance.__getitem__(index.wrappedInstance))
        }
        {% if magic_methods.setitem__ %}
        set(newValue) {
            wrappedInstance.__setitem__(index.wrappedInstance, newValue.wrappedInstance)
        }
        {% endif %}
    }
}

{% endif %}
{% for ebl in magic_methods.expressible_by_literals %}
extension {{ swift_object_name }}: {{ ebl.protocol_name }} {
  init({{ ebl.label_name }} value: {{ ebl.literal_type }}) {
    self.wrappedInstance = {{ swift_object_name }}.wrappedClass(value)
  }
}

{% endfor %}
{% if magic_methods.ExpressibleByArrayLiteral %}
extension {{ swift_object_name }}: ExpressibleByArrayLiteral {
  init(arrayLiteral: Element...) {
        self.wrappedInstance = Python.list()
        for element in arrayLiteral {
            self.wrappedInstance.append(element.wrappedInstance)
        }
    }
}

{% endif %}
{% if magic_methods.ExpressibleByDictionaryLiteral %}
extension {{ swift_object_name }}: ExpressibleByDictionaryLiteral {
  typealias Key = T
  typealias Value = V
  init(dictionaryLiteral elements: (Key, Value)...) {
    self.wrappedInstance = Python.dict()
    for (k, v) in elements {
        self.wrappedInstance.__setitem__(k.wrappedInstance, v.wrappedInstance)
    }
  }
}

{% endif %}
{% if magic_methods.Sequence %}
extension {{ swift_object_name }}: Sequence {
  public struct Iterator : IteratorProtocol {
    fileprivate let pythonIterator: PythonObject
    fileprivate var length: Int { Int(Python.len(pythonIterator))! }
    fileprivate var index: Int = 0


    mutating public func next() -> Element? {
      if index < length {
        let val = pythonIterator[index]
        index += 1
        return Element.init(val)
      } else{
        return nil
      }
    }
  }

  public func makeIterator() -> Iterator {
    return Iterator(pythonIterator: self.wrappedInstance)
  }
}

{% endif %}
