import PythonKit

public let TPython = TypedPythonInterface()

typealias TPbool = Bool
typealias TPlist = List<TPobject>

protocol TPobject {
    static var wrappedClass: PythonObject { get }
    var wrappedInstance: PythonObject { get }

    init(_ po: PythonObject)
}

public class TypedPythonInterface {
    let `import` = ImportInterface()
}

public class ImportInterface {
    {% for module in modules %}
    let {{ module.python_module_name }} = {{ module.swift_module_name }}.self
    {% endfor %}
}
