import PythonKit

public let TPython = TypedPythonInterface()

protocol TPobject {
    static var wrappedClass: PythonObject { get }
    var wrappedInstance: PythonObject { get }
}

public class TypedPythonInterface {
    let `import` = ImportInterface()
}

public class ImportInterface {
    {% for module in modules %}
    let {{ module.python_module_name }} = {{ module.swift_module_name }}.self
    {% endfor %}
}
